@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

article img {
  margin: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f6e9e5;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f6e9e5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.4, #3a1d01),
      color-stop(0.7, #643401),
      color-stop(0.8, #925d39));
}